<h1>adverts edit</h1>

<strong>Title </strong>{{ advertsEdit.advert.title }}<br>
<strong>Body </strong>{{ advertsEdit.advert.body }}<br>
<strong>Price: £ </strong>{{ advertsEdit.advert.valueMax }} - {{ advertsEdit.advert.valueMin }}.
<!-- {{ advertsEdit.advert }} -->

<form ng-submit="advertsEdit.update()">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" ng-model="advertsEdit.advert.title">

  <label for="body">body</label>
  <textarea rows="4" cols="90" name="comment" ng-model="advertsEdit.advert.body">.</textarea>
  <p>
    <label for="valueMin">Price range £ :</label>
    <input type="number" id="valueMin" name="valueMin" ng-model="advertsEdit.advert.valueMin">

    <label for="valueMax">to</label>
    <input type="number" id="valueMax" name="valueMax" ng-model="advertsEdit.advert.valueMax">
  </p>

  <button>Update</button>
</form>

<p>
  <button ng-click="advertsEdit.delete()">Delete</button>
</p>
