<h1>advertsnew</h1>

<form ng-submit="advertsNew.create()">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" ng-model="advertsNew.advert.title">

  <label for="body">Body</label>
  <textarea rows="4" cols="90" name="comment" ng-model="advertsNew.advert.body">.</textarea>

  <label for="valueMax">valueMax</label>
  <input type="number" id="valueMax" name="valueMax" ng-model="advertsNew.advert.valueMax">

  <label for="valueMin">valueMin</label>
  <input type="number" id="valueMin" name="valueMin" ng-model="advertsNew.advert.valueMin">

  <button>Create</button>
</form>
