<h1>adverts show</h1>

<div class="outline">
  <h1>Your Advert</h1>
  <strong>Title </strong>{{ advertsShow.advert.title }}<br>
  <strong>Body </strong>{{ advertsShow.advert.body }}<br>
  <strong>Price range: £ </strong>{{ advertsShow.advert.valueMin }} -to- {{ advertsShow.advert.valueMax }}.
  <!-- {{ advertsShow.advert }} -->
  <button ui-sref="advertsEdit({id: advertsShow.advert.id})">Edit</button>
    <!-- <button ng-click="advert.delete()">Delete</button> -->
</div>
<div class="results">
  <h1>Matching Results</h1>
  Filter by price -- Filter by distance
  <div class="outline" ng-repeat="offer in advertsShow.offers">
    <h3>{{ offer.title }}</h3>
    {{ offer.body }}
    <h4>Price: £{{ offer.value }}</h4>
    <image class="thumbnail" src="{{ offer.image }}"></image>
    <!-- <a ui-sref="messagesNew({offerId :offer.id})"><button>Contact this seller</button></a> -->
    <a ng-click="advertsShow.messagesNew(offer, advertsShow.advert)"><button>Contact this seller</button></a>
  </div>
</div>
