<!--  -->
<div class="buyOrSell">
  <button ui-sref="advertsNew">I'm Buying</button>

  <button ui-sref="offersNew">I'm Selling</button>
  <!-- <button ng-click="home.offersNew()">I'm Selling</button> -->
</div>

<!-- the contanier DIV is needed to keep all the cards in order -->
<div class="homepageContainer">
  <a class="a" ui-sref="offersShow({id: offer.id})"  ng-repeat="offer in home.offers">
    <div class="homepageCard">
      <!-- {{ offer }} -->
      <img class="thumbnail" ng-src="{{ offer.image_src }}" alt="thumbnail"><br>

      <div class="content">
        <span class="title">{{ offer.title | limitTo: 25 }}<span ng-if="offer.title.length > 25">...</span></span>
        <span class="price"> £ {{ offer.value }}</span>
      </div>
    </div>
  </a>
</div>
