<h1> messages new</h1>

<div class="results">
  a message about ...
  <div class="outline">
    <h3>{{ messagesNew.offer.title }}</h3>
    {{ messagesNew.offer.body }}
    <h4>Price: £{{ messagesNew.offer.value }}</h4>
    <image class="thumbnail" src="{{ messagesNew.offer.image_src }}"></image>
  </div>

  <div class="outline">
    <form ng-submit="messagesNew.create()" id="messageForm">
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" ng-model="messagesNew.message.subject">

      <textarea rows="4" cols="90" name="comment" ng-model="messagesNew.message.body" form="messageForm">Enter text here...</textarea>
      <button>Send</button>
    </form>
  </div>
  {{ messagesNew.message }}
</div>
