<form ng-submit="auth.login()">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" ng-model="auth.credentials.email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" ng-model="auth.credentials.password">
  </div>

  <button>Login</button>
</form>

username: "emily"<br>
email: "e@e"<br>
password: "p"<br>

username: "ajay"<br>
email: "a@a"<br>
password: "p"<br>

username: "mike"<br>
email: "m@m"<br>
password: "p"<br>

username: "will"<br>
email: "w@w"<br>
password: "p"
