<!DOCTYPE html>
<html ng-app="yabee">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Yabee</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <header>
      <nav>
        <a ui-sref="messagesIndex">Messages</a>
        <a ui-sref="usersIndex">Users</a>
        <a ui-sref="advertsIndex">Adverts</a>
        <a ui-sref="offersIndex">Offers</a>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
        <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
      </nav>
    </header>
    {{ 2 + 3 }}
    <div class="message" ng-if="main.message">{{ main.message }}</div>
    <main ui-view></main>
    <div class="outline">
        <h1>Users</h1>
      {{ main.users }}
    </div>
    <div class="outline">
      <h1>Adverts</h1>
      {{ main.adverts }}
    </div>
    <div class="outline">
      <h1>Offers</h1>
      {{ main.offers }}
    </div>
    <div class="outline">
      <h1>Messages</h1>
      {{ main.messages}}
    </div>
  </body>
</html>
