<!DOCTYPE html>
<html ng-app="yabee">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Yabee</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <header>
      <nav class="development">
        <a ui-sref="home">Home</a>
        <a ui-sref="usersIndex">Users</a>
        <a ui-sref="advertsIndex">Adverts</a>
        <a ui-sref="offersIndex">Offers</a>
      </nav>
      <nav class="header">
        <span ng-if="main.isAuthenticated()" class="username">hello {{ main.currentUser.username }}</span>
        <a ui-sref="advertsIndex">All Adverts</a>
        <a ui-sref="login" ui-sref-active="active" ng-if="!main.isAuthenticated()">Login</a>
        <a ui-sref="register" ui-sref-active="active" ng-if="!main.isAuthenticated()">Register</a>
        <a ng-click="main.logout()" href="#" ng-if="main.isAuthenticated()">Logout</a>

        <a ui-sref="home">Home</a>
        <a ui-sref="profile" ng-if="main.isAuthenticated()">My Yabee</a>
      </nav>
    </header>
    <div class="searchBar">
      <form ng-submit="main.search()">
        <input type="text" name="search" placeholder="Search..." ng-model="main.query">
        <button>Search</button>
      </form>
    </div>

    <div class="message" ng-if="main.message">{{ main.message }}</div>



    <div class="container">
      <main ui-view></main>
    </div>
  </body>
</html>
