// Import all of your scss files here
$navbar: #3c3241;
$navtext: #e1dcd8;
$searchbar: #d8d6d9;
$searchButton: #e57373;
$bodyBackground: #f1f1f1;
$offerText: #635b67;
$offerTitle: #3997ba;
$white: #ffffff;
$oAuthButton: #b1adb3;


body {
  // width: 80vw;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  background: $bodyBackground;
}

header {
  .development {
    background: red;
    display: none;
  }
  .header {
    background: $navbar;
    color: $navtext;
    height: 55px;
    line-height: 54px;
    border-bottom: 1px solid grey;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 45px;
    a {
      margin: 0 10px;
      color: $navtext;
      text-decoration: none;
    }
    .username {
      text-transform: capitalize;
    }
    .navLogo {
      float: left;
      margin-left: 8px;
      margin-top: 10px;
      height: 35px;
      width: 135px;
      background-image: url('https://www.gumtree.com/static/1/resources/assets/rwd/images/svg/primary_logo.svg?v=a8e305637f');
      background-size: cover;
    }
  }
}

// search bar on all page
.searchBar {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center; // to center the whole search bar
  font-size: 16px;
  background: $searchbar;
  input {
      border-radius: 2px;
      border: 1px solid $searchbar;
      height: 35px;
      line-height: 20px;
    width: 40%;
    padding: 0px 8px;
    font-size: 16px;
    border-radius: 3px;
  }
  button {
    height: 35px;
    line-height: 14px;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 3px;
    cursor: pointer;
    color: $white;
    background: $searchButton;
    border: $searchButton;
  }
}

// this is the section on the homepage with the big buy or sell?? divs
.buyOrSell {
  button {
    background: inherit;

    font-size: 65px;
    font-style: italic;
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 10px;
  }
  :hover {
    cursor: pointer;
  }
  margin: 60px 0 30px 0;
  text-align: center;
}

// used for the contaner for the massonry type thing on the homepage
.homepageContainer {
  column-count: 3;
  column-gap: 1em;
  padding: 0 30px;
}

// each card as used on homepage within the container
.homepageCard {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;

  box-sizing: border-box;
  border: 0px solid black;
  background: $white;
  .thumbnail {
    // height: 150px;
    width: 100%;
  }
  .content {
    padding: 10px 15px;
    .title {
      display: block;
      color: $offerTitle;
      font-size: 16px;
      margin-bottom: 4px;
    }
    .price {
      color: $offerText;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &:hover {
    box-shadow: 0 2px 6px 2px $searchbar;
  }
}

// **************************
// Login page
// **************************


.loginContainer {
  margin: 0 auto;
  margin-top: 30px;
  width: 380px;
  background: $white;
  border: 1px solid $searchbar;
  padding: 24px 0;
  form {
    margin: 0 auto;
    width: 335px;
  }
  .loginFormButton {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 8px auto;
    color: $white;
    background: $searchButton;
    transition: background 0.5s ease;

    &:hover {
      background: #733a3a;
    }
  }
  .loginFormInput {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 8px 0;
    padding: 0 0 0 10px;
    font-size: 16px;
  }
  .oAuthButton {
    width: 333px;
    height: 35px;
    line-height: 35px;
    margin: 8px auto;

    border: 1px solid $oAuthButton;
    text-align: center;
    color: red;
    &:hover {
      color: white;
      background: black;
    }
  }
}


// for messages that appear on the users profile page
.messages_sent {
  border-color: red;
  margin-right: 80px;
}
.messages_recieved {
  border-color: green;
  margin-left: 80px;
}

// For warning messages broadcast on rootscope
.message {
  text-align: center;
  background: lightsalmon;
}

// for the mid-height line used in the login form at "Or"
.midline {
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  color: $oAuthButton;
}
.midline:before, .midline:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
.midline:after {
  margin: 0 -55% 0 .5em;
}

// not sure
.showImage {
  width: 100%;
}

// generic, used in everything!!
.outline {
  margin-top: 30px;
  border: 2px solid blue;
  border-radius: 30px;
  padding: 5px 15px;
  overflow: hidden;
}

// used in the results to a new advert page
.results {
  @extend .outline;
  .outline {
    text-align: left;
    .thumbnail {
      height: 150px;
    }
  }
}



// not sure
.outline {
  .thumbnail {
    height: 150px;
  }
}
