<!-- <h1>offers edit</h1> -->

<div class="listShowContainer ">

  <div>
    <span class="listTitle">Preview</span>
    <div class="listShowlisting"  ui-sref="offersShow({id: offersEdit.offer.id})">

    <div class="clearfix">
      <div>
        <img class="image" ng-src="{{ offersEdit.offer.image_src }}" alt="Listing Image" >
      </div>
        <div class="content">
          <div class="title">{{ offersEdit.offer.title }}</div>
          <span>{{ offersEdit.offer.body }}</span><br>
          <p>
            £ {{ offersEdit.offer.value }}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="listShowContainer ">
  <div class="tabContainer clearfix">
    <span class="tab active">Selling</span>
    <span class="tab"></span>
    <span class="tab"></span>
    <span class="tab"></span>
    <span class="tab"></span>
  </div>
  <p></p>
  <!-- End of menu bar -->

  <!-- Tab One -->
  <div>
    <span class="listTitle">Update your advert to sell your things...</span>
    <div class="newlisting">
      <form ng-submit="offersEdit.update()">
        <p>
          <label class="showTitle" for="title">Title:</label>
          <input class="input" type="text" id="title" name="title" ng-model="offersEdit.offer.title">
        </p>

        <p>
          <label class="showTitle" for="body">Description: you can use markdown to add styling</label>
          <textarea class="inputArea" rows="4" cols="90" name="comment" ng-model="offersEdit.offer.body">.</textarea>
        </p>

        <p>
          <label  class="showTitle" for="image">Image</label>
          <input class="input" base64 type="file" id="image" name="image" ng-model="offersNew.offer.base64"><br>
        </p>

        <p>
          <label class="showTitle" for="valueMin">Price £ :</label>
          <input class="priceInput" type="number" id="valueMin" name="valueMin" ng-model="offersEdit.offer.value">
        </p>

        <div class="padding"></div>

        <button class="oneThirdButton">Save Updates</button>
        <a ui-sref="offersShow({id: offersEdit.offer.id})"><button class="oneThirdButton">Cancel</button></a>
        <div class="oneThirdButton" ng-click="offersEdit.delete()">Delete this advert</div>
      </form>
    </div>
  </div>
</div>
