<h1>offers edit</h1>

<div class="outline">
  <strong>Title </strong>{{ offersEdit.offer.title }}<br>
  <strong>Body </strong>{{ offersEdit.offer.body }}<br>
  <strong>Price: £ </strong>{{ offersEdit.offer.value}}.<br>
  <img class="thumbnail" ng-src="{{ offersEdit.offer.image_src }}">
</div>
<!-- {{ offersEdit.offer }} -->

<form ng-submit="offersEdit.update()">

  <label for="title">Name</label>
  <input type="text" id="name" name="name" ng-model="offersEdit.offer.title">
  <p>
    <label for="body">body</label>
    <textarea rows="4" cols="90" name="comment" ng-model="offersEdit.offer.body">.</textarea><br>
  </p>
  <p>
    <label for="image">Image</label>
    <input base64 type="file" id="image" name="image" ng-model="offersEdit.offer.base64">
  </p>
  <label for="value">valueMax</label>
  <input type="number" id="valueMax" name="valueMax" ng-model="offersEdit.offer.value">

  <button>Update</button>
</form>

<p>
  <button ng-click="offersEdit.delete()">Delete</button>
</p>
