<h1>offers new</h1>



<form ng-submit="offersNew.create()">

  <label for="title">Name</label>
  <input type="text" id="title" name="title" ng-model="offersNew.offer.title"><br>

  <label for="body">body</label><br>
  <textarea rows="4" cols="90" name="comment" ng-model="offersNew.offer.body">.</textarea><br>

  <label for="image">Image</label>
  <input type="file" id="image" name="image" ng-model="offersNew.offer.base64"><br>

  <label for="value">value</label>
  <input type="number" id="value" name="value" ng-model="offersNew.offer.value">

  <button>Create advert</button>
</form>

<p>
  <button ui-sref="home">Discard</button>
</p>
