
<div class="container">
  <p>
  <h1>Matching Results</h1>
  Filter by price -- Filter by distance
  </p>
  <a ui-sref="offersShow({id: offer.id})"  ng-repeat="offer in offersSearch.offers">
    <div class="homepageCard results">
      <!-- {{ offer }} -->
      <strong>Title </strong>{{ offer.title }}<br>
      <!-- <strong>Body </strong>{{ offer.body }}<br> -->
      <strong>Price: £ </strong>{{ offer.value }}.<br>
      <img class="thumbnail" ng-src="{{ offer.image }}" alt="thumbnail"><br>

      <button>More Details</button>
    </div>
  </a>
</div>
