<!--  -->
<div class="listShowContainer ">
  <div class="tabContainer clearfix">
    <span class="tab active" ng-class="{active:usersShow.tab == 1}" ng-click="usersShow.setTab(1)">I'm looking for</span>
    <!-- <span class="tab" ui-sref="advertsSearch">People are looking for</span> -->
    <span class="tab">People are looking for</span>
    <span class="tab"></span>
    <span class="tab"></span>
    <span class="tab"></span>
  </div>
  <p></p>
  <!-- End of menu bar -->

  <!-- Tab One -->
  <div>
    <span class="listTitle">You currently have {{ offersSearch.offers.length }} results</span>
    <div class="listShowlisting" ng-repeat="offer in offersSearch.offers" ui-sref="offersShow({id: offer.id})">

      <div class="clearfix">
        <div>
          <img class="image" ng-src="{{ offer.image_src }}" alt="Listing Image" >
        </div>
        <div class="content">
          <div class="title">{{ offer.title }}</div>
          <span>{{ offer.body | limitTo: 200 }}<span ng-if="offer.body.length > 200">...</span></span><br>
          <!-- id: {{ offer.id }}<br> -->
          <p>£{{ offer.value }}.</p>
        </div>
      </div>


    </div>
  </div>
</div>
