<h1></h1>

<div class="outline">
  <!-- <h1>Your Offer</h1> -->
  <!-- {{ offersShow.offer }}<br> -->
  <h3>{{ offersShow.offer.title }}</h3>
  <span class="price"><strong>Price: £ </strong>{{ offersShow.offer.value }}.</span><br>
  <img class="showImage" ng-src="{{ offersShow.offer.image_src }}">

  <div class="description">
    <h3>Description</h3>
    <hr>
    <div ng-bind-html="offersShow.offer.html_body"></div><br>
  </div>

  <!-- {{ offersShow.offer.user_id }} ++ {{ offersShow.currentUser.id }} or {{ offersShow.currentUser.id }} -->
  <button ui-sref="offersEdit({id: offersShow.offer.id})" ng-if="offersShow.offer.user_id === offersShow.currentUser.id">Edit</button>

</div>
<!-- <div class="results">
  <h1>Matching Results</h1>
  Filter by price -- Filter by distance
  <div class="outline" ng-repeat="offer in offersShow.offers">
    <h3>{{ offer.title }}</h3>
    {{ offer.body }}
    <h4>Price: £{{ offer.value }}</h4>
    <image class="thumbnail" src="{{ offer.image }}"></image>
    <a ng-click="offersShow.messagesNew(offer)"><button>Contact this seller</button></a>
  </div>
</div> -->
